@model ServerPortal.Models.Dir

@{
    ViewBag.Title = "Directory Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Message</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Size</th>
    </tr>
    
@foreach (var item in Model.Directories) {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "Dir", new { DirPath = item.Path })
        </td>
        <td id="filesize">Directory</td>
    </tr>
}
@foreach (var item in Model.Files) {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "Files", new { FilePath = item.Path + "\\" + item.Name })
        </td>
        <td id="filesize">
            @item.Size.FormatSize()
        </td>
    </tr>
}

</table>
