@model ServerPortal.Models.Download

@{
    Layout = null;
    Response.Redirect(Model.Filename);
}

<!DOCTYPE html>

<html>
<head>
    <title>DLFile</title>
</head>
<body>
    <div>
        
    </div>
</body>
</html>
